.App {
  text-align: center;
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.App-header {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
  flex-wrap: nowrap;
  flex: 1;
}

@media (min-width: 768px) {
  .App-header {
    flex-direction: row;
  }
}

.CompanyBanner,
.Market {
  flex-basis: 50%;
}