.App {
  text-align: center;
}

.App-header {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 100vh;
}

@media (max-width: 600px) {
  .App-header {
    flex-direction: column;
  }
}