.Market {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: auto;
    padding: 4.5vw 2.5vw 0vw 4.5vw;
}

.Market-Container {
    width: 90%;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}

.Market-Notification p,
.Market-Container p {
    margin: 0;
    padding: 0;
}


.Market-Notification {
    background-color: #ebfff4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 95%;
    padding: 5px 0px 5px 0px;
    margin: 0;
    border-radius: 5px;
}

.Notification-Image,
.Notification-Text {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.Notification-Image {
    align-items: center;
    justify-content: center;
    width: 8%;
}

.Notification-Text {
    align-items: flex-start;
    justify-content: center;
    width: 80%;
    font-family: 'Hind', sans-serif;
    font-size: 0.65rem;
}

.Market-Notification-Logo {
    width: 50%;
    min-width: 30px;
    max-width: 40px;
    height: auto;
}

.Text-Description {
    color: green;
}

.Text-DDT {
    font-weight: bold;
    color: #366b40;
}

.Operating-Hours {
    text-align: left;
    padding: 16px 0px 16px 0px;
    color: #396d43;
    font-weight: 500;
    font-family: 'Hind', sans-serif;
    display: flex;
    flex-direction: row;
}

.Operating-Hours-Text {
    font-size: 0.9rem;
}

.Operating-Hours-Logo {
    width: 50%;
    min-width: 5px;
    max-width: 30px;
    height: auto;
    padding: 0vw 0vw 0vw 2vw;
}

.Market-Operating-Section {
    padding-top: 0px;
}

.Operating-Hour-Title {
    text-align: left;
    color: #969696;
    font-family: 'Hind', sans-serif;
    font-size: 0.6rem;
    margin-bottom: 2vw !important;
}


.Trading,
.Order-Book {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

.Section-Title {
    color: #00ccff;
    font-family: 'Hind', sans-serif;
    font-weight: bold;
    font-size: 0.65rem;
    text-align: left;
    margin: 2.5vw 0vw 0vw 0vw;
}

.Ordering-Hours-Section,
.Trading-Hours-Section {
    width: 90%
}


.Description-And-Hours {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Hind', sans-serif;
    margin: 2vw 0vw 2vw 0vw;
    width: 100%;
    font-size: 0.65rem;
}

.last {
    margin-bottom: 0;
}

.divider {
    height: 1px;
    width: 100%;
    background-color: #d2d2d2;
    margin: 2.5vw 0vw 2.5vw 0vw;
}



@media (min-width: 375px) {
    /* Most iphone users */

    .Notification-Image {
        width: 20%;
    }

    .Notification-Text {
        font-size: 0.9rem;
    }

    .Description-And-Hours {
        font-size: 0.75rem;
    }

    .Section-Title,
    .Operating-Hour-Title {
        font-size: 0.7rem;
    }

    .Operating-Hours-Text {
        font-size: 1rem;
    }

}

@media (min-width: 411px) {

    /* iphone plus users */

}


@media (min-width: 600px) {

    /* large phones, potrait tablets */

    .Operating-Hours-Text {
        font-size: 1.1rem;
    }

    .Notification-Text {
        font-size: 1rem;
    }

    .Description-And-Hours {
        font-size: 0.85rem;
    }

    .Section-Title,
    .Operating-Hour-Title {
        font-size: 0.8rem;
    }


}

@media (min-width: 768px) {

    /* landscape tablets */
    .Notification-Text {
        font-size: 0.9rem;
    }

    .Description-And-Hours {
        font-size: 0.75rem;
    }

    .Section-Title,
    .Operating-Hour-Title {
        font-size: 0.7rem;
    }

    .Operating-Hours-Text {
        font-size: 1rem;
    }
}

@media (min-width: 992px) {

    /* laptops/desktops */

    .Market-Container {
        width: 80%;
    }

    .Market-Notification {
        width: 85%
    }

    .Description-And-Hours {
        margin: 1.4vw 0vw 1.4vw 0vw;
    }


    .Operating-Hours-Text {
        font-size: 1.2rem;
    }

    .Notification-Text {
        font-size: 1.1rem;
    }

    .Description-And-Hours {
        font-size: 0.95rem;
    }

    .Section-Title,
    .Operating-Hour-Title {
        font-size: 0.9rem;
    }

}

@media (min-width: 1200px) {
    /* large desktops */

    .Market-Container {
        width: 75%;
    }

    .Market-Notification {
        width: 80%
    }


    .Operating-Hours-Text {
        font-size: 1.3rem;
    }

    .Notification-Text {
        font-size: 1.2rem;
    }

    .Description-And-Hours {
        font-size: 1.05rem;
    }

    .Section-Title,
    .Operating-Hour-Title {
        font-size: 1rem;
    }

    .Section-Title {
        margin: 0vw;
    }

    .divider {
        margin: 2vw 0vw 2vw 0vw;
    }
}